.opacity_icon{
    opacity: 0.8 !important;
}

.card2 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
}

.spanColor {
    color: red;
}

::ng-deep .mat-form-field-infix {
    padding: 0.5em 0em !important;
    border-top: 0.5em solid transparent !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0em 0em !important;
}
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0em !important;
}
/* 
::ng-deep .mat-form-field-underline {
    display: none;
  } */