body {
    margin: 0;
    font-size: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: white;
    color: black;
    font-family: arial, sans-serif;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin: 20px;
    background: white;
    padding: 60px 40px;
    text-align: center;
    box-shadow: -10px 10px 67px -12px rgba(0, 0, 0, 0.2);
    opacity: 0;
    animation: apparition 0.8s 1.2s cubic-bezier(0.39, 0.575, 0.28, 0.995) forwards;
  }
  .content p {
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0.6rem;
    letter-spacing: 0.1rem;
    color: #595959;
  }
  .content p:last-child {
    margin-bottom: 0;
  }
  .content button {
    display: inline-block;
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    border: 3px solid #595959;
    background: transparent;
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .particle {
    position: absolute;
    display: block;
    pointer-events: none;
  }
  .particle:nth-child(1) {
    top: 71.0234278668%;
    left: 29.6735905045%;
    font-size: 11px;
    filter: blur(0.02px);
    animation: 26s floatReverse infinite;
  }
  .particle:nth-child(2) {
    top: 83.2313341493%;
    left: 33.4316617502%;
    font-size: 17px;
    filter: blur(0.04px);
    animation: 30s float infinite;
  }
  .particle:nth-child(3) {
    top: 66.9090909091%;
    left: 60.487804878%;
    font-size: 25px;
    filter: blur(0.06px);
    animation: 24s float2 infinite;
  }
  .particle:nth-child(4) {
    top: 94.6859903382%;
    left: 78.7937743191%;
    font-size: 28px;
    filter: blur(0.08px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(5) {
    top: 77.1084337349%;
    left: 0.9708737864%;
    font-size: 30px;
    filter: blur(0.1px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(6) {
    top: 4.854368932%;
    left: 16.6015625%;
    font-size: 24px;
    filter: blur(0.12px);
    animation: 37s floatReverse infinite;
  }
  .particle:nth-child(7) {
    top: 46.6585662211%;
    left: 21.5053763441%;
    font-size: 23px;
    filter: blur(0.14px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(8) {
    top: 55.0368550369%;
    left: 98.6193293886%;
    font-size: 14px;
    filter: blur(0.16px);
    animation: 38s floatReverse2 infinite;
  }
  .particle:nth-child(9) {
    top: 24.57002457%;
    left: 8.875739645%;
    font-size: 14px;
    filter: blur(0.18px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(10) {
    top: 63.4146341463%;
    left: 58.8235294118%;
    font-size: 20px;
    filter: blur(0.2px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(11) {
    top: 50.1228501229%;
    left: 71.9921104536%;
    font-size: 14px;
    filter: blur(0.22px);
    animation: 36s floatReverse infinite;
  }
  .particle:nth-child(12) {
    top: 63.7254901961%;
    left: 88.5826771654%;
    font-size: 16px;
    filter: blur(0.24px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(13) {
    top: 90.0856793146%;
    left: 59.9803343166%;
    font-size: 17px;
    filter: blur(0.26px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(14) {
    top: 47.400241838%;
    left: 5.8422590068%;
    font-size: 27px;
    filter: blur(0.28px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(15) {
    top: 86.851628468%;
    left: 70.9426627794%;
    font-size: 29px;
    filter: blur(0.3px);
    animation: 36s float infinite;
  }
  .particle:nth-child(16) {
    top: 11.5802171291%;
    left: 55.3935860058%;
    font-size: 29px;
    filter: blur(0.32px);
    animation: 33s float infinite;
  }
  .particle:nth-child(17) {
    top: 66.0194174757%;
    left: 36.1328125%;
    font-size: 24px;
    filter: blur(0.34px);
    animation: 38s float infinite;
  }
  .particle:nth-child(18) {
    top: 10.6280193237%;
    left: 84.6303501946%;
    font-size: 28px;
    filter: blur(0.36px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(19) {
    top: 13.6253041363%;
    left: 2.9354207436%;
    font-size: 22px;
    filter: blur(0.38px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(20) {
    top: 26.4705882353%;
    left: 43.3070866142%;
    font-size: 16px;
    filter: blur(0.4px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(21) {
    top: 62.1359223301%;
    left: 49.8046875%;
    font-size: 24px;
    filter: blur(0.42px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(22) {
    top: 44.1176470588%;
    left: 48.2283464567%;
    font-size: 16px;
    filter: blur(0.44px);
    animation: 22s float infinite;
  }
  .particle:nth-child(23) {
    top: 54.1717049577%;
    left: 20.4479065239%;
    font-size: 27px;
    filter: blur(0.46px);
    animation: 24s floatReverse2 infinite;
  }
  .particle:nth-child(24) {
    top: 18.5592185592%;
    left: 78.5083415113%;
    font-size: 19px;
    filter: blur(0.48px);
    animation: 38s floatReverse infinite;
  }
  .particle:nth-child(25) {
    top: 73.2530120482%;
    left: 15.5339805825%;
    font-size: 30px;
    filter: blur(0.5px);
    animation: 37s floatReverse2 infinite;
  }
  .particle:nth-child(26) {
    top: 96.3503649635%;
    left: 79.2563600783%;
    font-size: 22px;
    filter: blur(0.52px);
    animation: 39s float infinite;
  }
  .particle:nth-child(27) {
    top: 69.5226438188%;
    left: 13.7659783677%;
    font-size: 17px;
    filter: blur(0.54px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(28) {
    top: 71.3064713065%;
    left: 63.7880274779%;
    font-size: 19px;
    filter: blur(0.56px);
    animation: 23s floatReverse infinite;
  }
  .particle:nth-child(29) {
    top: 81.5533980583%;
    left: 78.125%;
    font-size: 24px;
    filter: blur(0.58px);
    animation: 32s floatReverse infinite;
  }
  .particle:nth-child(30) {
    top: 26.3736263736%;
    left: 2.9440628067%;
    font-size: 19px;
    filter: blur(0.6px);
    animation: 24s float infinite;
  }
  .particle:nth-child(31) {
    top: 23.1604342581%;
    left: 53.4499514091%;
    font-size: 29px;
    filter: blur(0.62px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(32) {
    top: 93.2038834951%;
    left: 34.1796875%;
    font-size: 24px;
    filter: blur(0.64px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(33) {
    top: 84.3137254902%;
    left: 88.5826771654%;
    font-size: 16px;
    filter: blur(0.66px);
    animation: 21s floatReverse2 infinite;
  }
  .particle:nth-child(34) {
    top: 24.57002457%;
    left: 73.9644970414%;
    font-size: 14px;
    filter: blur(0.68px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(35) {
    top: 58.1997533909%;
    left: 45.4995054402%;
    font-size: 11px;
    filter: blur(0.7px);
    animation: 40s float infinite;
  }
  .particle:nth-child(36) {
    top: 62.8778718259%;
    left: 57.4488802337%;
    font-size: 27px;
    filter: blur(0.72px);
    animation: 28s floatReverse infinite;
  }
  .particle:nth-child(37) {
    top: 27.2174969623%;
    left: 25.4154447703%;
    font-size: 23px;
    filter: blur(0.74px);
    animation: 30s floatReverse2 infinite;
  }
  .particle:nth-child(38) {
    top: 0.9673518742%;
    left: 64.264849075%;
    font-size: 27px;
    filter: blur(0.76px);
    animation: 23s floatReverse2 infinite;
  }
  .particle:nth-child(39) {
    top: 54.7008547009%;
    left: 45.142296369%;
    font-size: 19px;
    filter: blur(0.78px);
    animation: 29s float infinite;
  }
  .particle:nth-child(40) {
    top: 47.9217603912%;
    left: 71.7092337917%;
    font-size: 18px;
    filter: blur(0.8px);
    animation: 31s float infinite;
  }
  .particle:nth-child(41) {
    top: 84.0048840049%;
    left: 1.9627085378%;
    font-size: 19px;
    filter: blur(0.82px);
    animation: 22s float infinite;
  }
  .particle:nth-child(42) {
    top: 17.6687116564%;
    left: 44.3349753695%;
    font-size: 15px;
    filter: blur(0.84px);
    animation: 28s float2 infinite;
  }
  .particle:nth-child(43) {
    top: 0.9756097561%;
    left: 14.7058823529%;
    font-size: 20px;
    filter: blur(0.86px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(44) {
    top: 19.680196802%;
    left: 23.6920039487%;
    font-size: 13px;
    filter: blur(0.88px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(45) {
    top: 37.8181818182%;
    left: 44.8780487805%;
    font-size: 25px;
    filter: blur(0.9px);
    animation: 23s floatReverse infinite;
  }
  .particle:nth-child(46) {
    top: 75.6363636364%;
    left: 93.6585365854%;
    font-size: 25px;
    filter: blur(0.92px);
    animation: 37s float2 infinite;
  }
  .particle:nth-child(47) {
    top: 91.9315403423%;
    left: 17.6817288802%;
    font-size: 18px;
    filter: blur(0.94px);
    animation: 40s floatReverse2 infinite;
  }
  .particle:nth-child(48) {
    top: 31.8455971049%;
    left: 83.5762876579%;
    font-size: 29px;
    filter: blur(0.96px);
    animation: 27s float2 infinite;
  }
  .particle:nth-child(49) {
    top: 46.7153284672%;
    left: 62.6223091977%;
    font-size: 22px;
    filter: blur(0.98px);
    animation: 31s floatReverse infinite;
  }
  .particle:nth-child(50) {
    top: 86.2745098039%;
    left: 41.3385826772%;
    font-size: 16px;
    filter: blur(1px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(51) {
    top: 18.7422934649%;
    left: 48.4668644906%;
    font-size: 11px;
    filter: blur(1.02px);
    animation: 31s floatReverse infinite;
  }
  .particle:nth-child(52) {
    top: 94.5812807882%;
    left: 23.7154150198%;
    font-size: 12px;
    filter: blur(1.04px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(53) {
    top: 37.4845869297%;
    left: 28.684470821%;
    font-size: 11px;
    filter: blur(1.06px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(54) {
    top: 10.615199035%;
    left: 17.4927113703%;
    font-size: 29px;
    filter: blur(1.08px);
    animation: 27s float infinite;
  }
  .particle:nth-child(55) {
    top: 67.8787878788%;
    left: 25.3658536585%;
    font-size: 25px;
    filter: blur(1.1px);
    animation: 30s float infinite;
  }
  .particle:nth-child(56) {
    top: 30.3921568627%;
    left: 0.9842519685%;
    font-size: 16px;
    filter: blur(1.12px);
    animation: 36s floatReverse2 infinite;
  }
  .particle:nth-child(57) {
    top: 37.5903614458%;
    left: 60.1941747573%;
    font-size: 30px;
    filter: blur(1.14px);
    animation: 21s float2 infinite;
  }
  .particle:nth-child(58) {
    top: 72.4602203182%;
    left: 32.4483775811%;
    font-size: 17px;
    filter: blur(1.16px);
    animation: 30s floatReverse infinite;
  }
  .particle:nth-child(59) {
    top: 22.6600985222%;
    left: 57.3122529644%;
    font-size: 12px;
    filter: blur(1.18px);
    animation: 31s floatReverse2 infinite;
  }
  .particle:nth-child(60) {
    top: 45.3012048193%;
    left: 71.8446601942%;
    font-size: 30px;
    filter: blur(1.2px);
    animation: 24s float infinite;
  }
  .particle:nth-child(61) {
    top: 89.9637243047%;
    left: 16.553067186%;
    font-size: 27px;
    filter: blur(1.22px);
    animation: 34s floatReverse2 infinite;
  }
  .particle:nth-child(62) {
    top: 4.8899755501%;
    left: 31.4341846758%;
    font-size: 18px;
    filter: blur(1.24px);
    animation: 31s float2 infinite;
  }
  .particle:nth-child(63) {
    top: 88.8888888889%;
    left: 11.673151751%;
    font-size: 28px;
    filter: blur(1.26px);
    animation: 35s float infinite;
  }
  .particle:nth-child(64) {
    top: 50.6082725061%;
    left: 68.4931506849%;
    font-size: 22px;
    filter: blur(1.28px);
    animation: 39s float2 infinite;
  }
  .particle:nth-child(65) {
    top: 7.8431372549%;
    left: 24.6062992126%;
    font-size: 16px;
    filter: blur(1.3px);
    animation: 36s float2 infinite;
  }
  .particle:nth-child(66) {
    top: 83.5380835381%;
    left: 71.9921104536%;
    font-size: 14px;
    filter: blur(1.32px);
    animation: 25s floatReverse2 infinite;
  }
  .particle:nth-child(67) {
    top: 9.8522167488%;
    left: 7.9051383399%;
    font-size: 12px;
    filter: blur(1.34px);
    animation: 32s floatReverse2 infinite;
  }
  .particle:nth-child(68) {
    top: 38.0487804878%;
    left: 85.2941176471%;
    font-size: 20px;
    filter: blur(1.36px);
    animation: 28s floatReverse2 infinite;
  }
  .particle:nth-child(69) {
    top: 70.1583434836%;
    left: 45.0538687561%;
    font-size: 21px;
    filter: blur(1.38px);
    animation: 35s floatReverse infinite;
  }
  .particle:nth-child(70) {
    top: 21.43727162%;
    left: 11.7531831538%;
    font-size: 21px;
    filter: blur(1.4px);
    animation: 35s floatReverse2 infinite;
  }
  .particle:nth-child(71) {
    top: 61.9164619165%;
    left: 47.3372781065%;
    font-size: 14px;
    filter: blur(1.42px);
    animation: 22s floatReverse infinite;
  }
  .particle:nth-child(72) {
    top: 11.6363636364%;
    left: 74.1463414634%;
    font-size: 25px;
    filter: blur(1.44px);
    animation: 28s float infinite;
  }
  .particle:nth-child(73) {
    top: 30.2070645554%;
    left: 1.958863859%;
    font-size: 21px;
    filter: blur(1.46px);
    animation: 33s floatReverse infinite;
  }
  .particle:nth-child(74) {
    top: 17.5824175824%;
    left: 76.5456329735%;
    font-size: 19px;
    filter: blur(1.48px);
    animation: 38s float2 infinite;
  }
  .particle:nth-child(75) {
    top: 83.2929782082%;
    left: 60.4288499025%;
    font-size: 26px;
    filter: blur(1.5px);
    animation: 38s float infinite;
  }
  .particle:nth-child(76) {
    top: 71.8327183272%;
    left: 77.9861796644%;
    font-size: 13px;
    filter: blur(1.52px);
    animation: 34s float2 infinite;
  }
  .particle:nth-child(77) {
    top: 86.7235079172%;
    left: 87.1694417238%;
    font-size: 21px;
    filter: blur(1.54px);
    animation: 37s float infinite;
  }
  .particle:nth-child(78) {
    top: 44.6060606061%;
    left: 52.6829268293%;
    font-size: 25px;
    filter: blur(1.56px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(79) {
    top: 58.8957055215%;
    left: 82.7586206897%;
    font-size: 15px;
    filter: blur(1.58px);
    animation: 27s floatReverse infinite;
  }
  .particle:nth-child(80) {
    top: 73.3496332518%;
    left: 16.699410609%;
    font-size: 18px;
    filter: blur(1.6px);
    animation: 36s float2 infinite;
  }
  
  @keyframes apparition {
    from {
      opacity: 0;
      transform: translateY(100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(180px);
    }
  }
  @keyframes floatReverse {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-180px);
    }
  }
  @keyframes float2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(28px);
    }
  }
  @keyframes floatReverse2 {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-28px);
    }
  }