<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-8 pb-1">
            <button class="btn btn-primary" [routerLink]="['/home/profiles/user']"><span><i class="fas fa-user-plus"></i> Nuevo Usuario</span></button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-8 pt-1">
            <input type="text" class="form-control" placeholder="Buscar" [value]="">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="tablescroll">
                    <table class="table user-list scrollable">
                        <thead>
                            <tr>
                                <th><span>ID usuario</span></th>
                                <th><span>Nombre</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th class="text-center"><span>Opciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">146478</a>
                                </td>
                                <td>                                            
                                    <a>Mila Kunis</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success">Activo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>