<div class="animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-8 pb-1">
            <button class="btn btn-primary" (click)="onClickNewUser()"><span><i class="fas fa-user-plus"></i> Nuevo Usuario</span></button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-8 col-8 pt-1">
            <input type="text" class="form-control" placeholder="Buscar" #SearchTable="ngModel" name="SearchTable" [(ngModel)]="searchTable">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="tablescroll">
                    <table class="table user-list scrollable">
                        <thead>
                            <tr>
                                <th><span>Id Usuario</span></th>
                                <th><span>Nom. Usuario</span></th>
                                <!-- <th><span>Empleado</span></th> -->
                                <th><span>Almacén</span></th>
                                <th class="text-center"><span>Status</span></th>
                                <th class="text-center"><span>Opciones</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of profiles | filterTableUsers: searchTable">
                                <td>
                                    <img class="" src="../../../assets/profile/user.svg" alt="">
                                    <a class="user-link">{{p.IdUser}}</a>
                                </td>
                                <td>                                            
                                    <a>{{p.NameUser}}</a>
                                </td>
                                <!-- <td>                                            
                                    <a>{{p.FirstName}} {{p.LastName}}</a>
                                </td> -->
                                <td>                                            
                                    <a>{{p.WhsCode}}</a>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-success" *ngIf="p.Status">Activo</span>
                                    <span class="badge badge-danger" *ngIf="!p.Status">Inactivo</span>
                                </td>
                                <td style="width: 20%;">
                                    <div class="d-flex justify-content-around">
                                        <button type="button" class="btn btn-info" (click)="onEditProfile(p)"><span><i class="fas fa-pencil-alt"></i></span></button>
                                        <button type="button" class="btn btn-info" (click)="onCheckWarehouse(p.IdUser)"><span><i class="fas fa-warehouse"></i></span></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-snakbar></app-snakbar>